{% extends 'base.html' %}

{% block content %}

<h1>リスト画面</h1>
{% if user.is_authenticated %}
    <form method="post" action="{% url 'antoquinoapp:logout' %}">
        {% csrf_token %}
        <button type="submit">ログアウト</button>

        <a href="{% url 'antoquinoapp:recipe_create' %}">レシピ登録</a>

    </form>
{% endif %}

<ul>
    {% for object in object_list %}
    <li>
        {{ object.recipe_name}} 
        {% if object.photo %}
                <!-- 画像を表示 -->
            {% if object.photo %}
                <img src="{{ object.photo.url }}" alt="{{ object.recipe_name }} Photo" style="max-width: 300px; max-height: 200px;">
            {% endif %}

        {% endif %} 

        <a href="{% url 'antoquinoapp:recipe_detail' pk=object.pk %}">詳細へ</a>
    </li>
    {% endfor %}

    
</ul>
    </form>


{% endblock content %}